.dashboard {
    margin-left: 100px; /* Margen izquierdo para dejar espacio al Sidebar */
    width: calc(100% - 100px); /* Ancho del contenido principal */
    /* Agrega otros estilos según tus necesidades */
  }
  
  .table {
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
  }
  
  .table th,
  .table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  