body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-logo-icon {
  width: 20px;
  height: 20px;
}
.bg {
  background-image: url(../src/Componentes/Registro/images/LogoSprime.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.bg1 {
  background-image: url(../src/Componentes/Registro/images/prueba.png);
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}
